@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&family=Rubik+Beastly&display=swap');

@media only screen and (max-width: 600px){ /* Mobile */
    * { 
        margin:0;
        padding:0;
        box-sizing: border-box;
    } 
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left:10px;
        padding-right: 10px;
        height: 10vh;
        color: black;
        font-family: 'Neonderthaw', cursive;
    }
    .name{
        display: inline-flex;
        font-size: 2em;
    }
    .navSection{
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 1em;
    }
    .navBtn {
        display: inline;
    }
    #link{
        font-family: 'Libre Baskerville', serif;
    }
    .link{
        text-decoration: none;
        background-color: antiquewhite;
        color: black;
        font-family: 'Libre Baskerville', serif;
    }
    .link:first-child,
    .link:nth-child(2){
        padding-right: 40px;
    }
    #menuBtn{
        display: flex;
        justify-content: baseline;
        background-color: black;
        color: antiquewhite;
        font-size: .70em;
        font-family: 'Libre Baskerville', serif;
        height: 3.15em;
        width: auto;    
    }
    ul{
        background-color: antiquewhite;
    }
}

@media only screen and (min-width: 601px){ /* Windows/Mac */
    * { 
        margin:0;
        padding:0;
        box-sizing: border-box;
    } 
    .header{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding-left:10px;
        padding-right: 10px;
        height: 10vh;
        color: antiquewhite;
        font-family: 'Neonderthaw', cursive;
    }
    .name{
        display: inline-flex;
        font-size: 4em;
    }
    .navSection{
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 2em;
    }
    .navBtn {
        display: inline;
    }
    #link{
        font-family: 'Libre Baskerville', serif;
    }
    .link{
        text-decoration: none;
        background-color: antiquewhite;
        color: black;
        font-family: 'Libre Baskerville', serif;
    }
    .link:first-child,
    .link:nth-child(2){
        padding-right: 40px;
    }
    #menuBtn{
        display: flex;
        background-color: black;
        color: antiquewhite;
        font-family: 'Libre Baskerville', serif;
        height: 4em;
    }
    ul{
        background-color: antiquewhite;
    }
}
