* { 
	margin:0;
	padding:0;
	box-sizing: border-box;
} 
.header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-left:5px;
    padding-right: 5px;
    background-color: aliceblue;
}
.name{
    display: inline-flex;
    font-size: xx-large;
}
.navSection{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.navBtn {
    display: inline;
    font-size: x-large;
    color: black;
}
.link{
    text-decoration: black underline;
}
.link:first-child,
.link:nth-child(2){
    padding-right: 40px;
}