* { 
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.projects{
	display: flex;
	flex-direction: column;
	height: 80vh;
	background-color: antiquewhite;
	color: black;
	padding: 10px;
	font-family: 'Libre Baskerville', serif;
}
.projectList{
	display: flex;
	height: 90vh;
	flex-direction: column;
	justify-content: space-around;
}

.project{
	align-content: flex-start;
	border-bottom: 1px solid black;
	padding-top: 10px;
	padding-bottom: 10px;
	display: flex;
	flex-direction: row;
}
.projectTitle{
	text-decoration-line: underline;
  	text-decoration-style: double;
}
.portfolio-title{
	align-self: center;
}
.description{
	margin-left: 15px;
}
.photo{
	height: 150px;
	width: 200px;
	border-radius: 10%;
}
.box{
	display: flex;
	flex-direction: column;
	text-decoration: none;
}
p.info{
	justify-self: center;
	align-self: center;
	color: black;
}
.content{
	display: flex;
	flex-direction: column;
	padding-right: 10px;
	padding-left: 10px;
}