* { 
	margin:0;
	padding:0;
	box-sizing: border-box;
} 
.footer{
	display: flex;
	justify-content: space-around;
	justify-self: center;
	height: 10vh;
	width: 50%;
	position: sticky;
}

.css-xziec2-MuiSvgIcon-root, .footer{
	color: black;
}

a:visited {
	color: black;
  }